*.iws
*.iml
*.ipr
target/
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
logs/
bisa-shop-h5-controller/config/
bisa-shop-h5-controller/config/
*/config/
*/resources.properties
*/pay.properties
*/fdfs_client.conf