*.iws
*.iml
*.ipr
target/
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
logs/
bisa-shop-CN-controller/config/
bisa-shop-CN-controller/config/
*/config/
bisa-shop-CN-controller/src/main/resources/resources.properties
bisa-shop-CN-controller/src/main/resources/pay.properties
bisa-shop-CN-controller/src/main/resources/fastdfs/fdfs_client.conf
*/cropper/
bisa-shop-CN-controller/src/main/webapp/WEB-INF/h5/resources/ctrl/cropper/
bisa-shop-CN-controller/src/main/webapp/WEB-INF/html/resources/ctrl/cropper/
bisa-shop-CN-controller/src/main/webapp/WEB-INF/resources/ctrl/cropper/