.indexVideo div div{
    height:3.72rem;
    background:rgba(193,193,193,1);
    border-radius:0.2rem;
}

.certificate{
    background: url('../img/index/banner2.jpg') no-repeat;
    background-size:100% 100%;
    height: 3rem;
    
}
.certificate .col-xs-6{
    padding: 0;
}
.certificate img{
    width: 3.45rem;
    height: 2.3rem;
    border-radius: 0.1rem;
}
.certificate p{
    font-size: 0.2rem;
    color: #FFFFFF;
}
.certificate div:first-of-type img{
    margin: 10px 10px;
}
.certificate div:last-of-type img{
    margin:10px 10px 10px 0px;
}
/* 新闻轮播 */
.indexNews{
    background:rgba(243,243,243,1);
    box-shadow:0rem 0.05rem 0.16rem 0rem rgba(153,153,153,0.2);
    border-radius:0.15rem;
    margin: 0 0.25rem;
    padding: 0.2rem 0.1rem;
}
.indexNews img{
    height: 1.90rem;
    overflow: hidden;
}
.indexNews div:first-of-type{
    padding: 0rem 0.1rem 0rem 0rem;
}

.indexNews div:last-of-type{
    background: #fff;
    padding: 0rem 0rem 0rem  0.1rem;
}
.indexNews div:last-of-type p:nth-child(1){
    font-size:0.22rem;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:0.4rem;
    -webkit-line-clamp:1;
    overflow: hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    margin-bottom: 0.05rem;

}
.indexNews div:last-of-type p:nth-child(2){
    height: 1.05rem;
    font-size:0.2rem;
    color:rgba(102,102,102,1);
    line-height:0.22rem;
    -webkit-line-clamp:5;
    overflow: hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    margin-bottom: 0.05rem;
}
.indexNews div:last-of-type p:nth-child(3){
    font-size:0.16rem;
    color:rgba(153,153,153,1);
    margin-bottom: 0.13rem;
}
.carousel .carousel-control.left {
    background-image:none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel .carousel-control.right {
    left: auto;
    right: 0;
    background-image: none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel .carousel-control.left span,.carousel .carousel-control.right span{
    width:0.32rem;
    height:0.32rem;
    background:rgba(0,0,0,1);
    opacity:0.5;
    border-radius:50%;
    font-size: 0.2rem;
    line-height: 0.32rem;
}
/* 新闻轮播 */
/* 优惠图 */
.Offer {
    margin-top: 0.15rem;
    position: relative;
}
.Offer div{
    position: absolute;
    left: 40%;
    bottom: 5%;
}
.Offer div a{
    border-radius:0.05rem;
    width:0.9rem;
    height:0.28rem;
    font-size: 0.2rem;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.Offer div a:first-of-type{
    background:rgba(254,96,54,1);
}
.Offer div a:last-of-type{
    background:rgba(215,28,30,1);
}

/* 优惠图 */

