.bg {
    margin-bottom: 0.135rem;
}

 .newBanner .row {
    position: relative;
}

 .newBanner .row div {
    position: absolute;
    text-align: center;
    left: 28%;
    top: 10%;
}

 .newBanner .row div p {
    color: #fff;
    margin-bottom: 0;
}

 .newBanner .row div p:nth-child(1) {
    font-size: 0.40rem;
    font-weight: bold;
    color: rgba(254, 254, 254, 1);
}
 .newBanner .row div p:nth-child(2){
    margin-bottom: 0.05rem;
}
.newBanner .row div p:nth-child(2) span:first-of-type {
    font-size: 0.30rem;
}

 .newBanner .row div p:nth-child(2) span:last-of-type {
    font-size: 0.30rem;
    display: inline-block;
    padding: 0.06rem 0.15rem;
    background: #2B84C6;
    border-radius: 0.05rem;
    margin-left: 0.1rem;
}

 .newBanner .row div p:nth-child(3) {
    font-size:0.3rem;
}
 .newBanner .row div img{
    width: 0.4rem;
}
.title {
    font-size: 0.18rem;
    border-bottom: 0.01rem solid #ECECEC;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}

.title div {
    display: inline-block;
    width: 0.09rem;
    height: 0.2rem;
    background: rgba(32, 71, 146, 1);
}

.title span {
    font-size: 0.3rem;
    color: rgba(15, 10, 10, 1);
}

.top_news {
    border-bottom: 0.01rem solid #ECECEC;
}

.top_news .title span:first-of-type {
    line-height: 0.24rem;
    font-size: 0.15rem;
    display: inline-block;
    color: black;
}

.top_news img {
    margin-top: 0.15rem;
    height: 1.67rem;
    overflow: hidden;
}

.newRead {
    margin-left: 0.1rem;
}

.titleTopping {
    color: rgba(51, 51, 51, 1);
    font-size: 0.22rem;
    font-weight: bold;
    line-height: 0.4rem;
    margin-bottom: 0.16rem;
}

.new_con {
    color: #666666;
    font-size: 0.24rem;
    line-height: 0.24rem;
}

.new_span {
    margin-bottom: 0.2rem;
}

.new_span span {
    font-size: 0.16rem;
    color: #999999;
    line-height: 0.4rem;
}

.timeOrdinary {
    padding: 0;

    text-align: left;
}

.timeOrdinary span {
    font-size: 0.1rem;
}

.titleOrdinary {
    font-size: 0.2rem;
    color: #333333;
    overflow: hidden;
}

.timeOrdinary .new_time {
    font-size: 0.16rem;
    padding: 0.03rem;
}

.more {
    margin-top: 0.15rem;
    font-size: 0.18rem;
    color: #666666;
}

.more i {
    margin-top: 0.05rem;
}

.pt-rem025{
	padding-top: 0.25rem;
}

.f-rem025{
	font-size: 0.25rem;
}
.f-rem025{
	font-size: 0.25rem;
}
