.product{
    margin-bottom: 0.2rem;
    padding: 0;
}
.product_img {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0rem 0.13rem 0rem rgba(224, 224, 224, 1);
    border-radius: 0.2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    
}
.product_img img{
    width: 1.41rem;
    max-height: 1.96rem;
    overflow: hidden;
}
.product_title {
    font-weight:bold;
    font-size: 0.24rem;
    color: #333333;
    margin-top: 0.2rem;
    overflow: hidden;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
    text-overflow:ellipsis;
}

.product_Introduction {
    color: #666666;
    font-size:0.2rem;
    margin-top: 0.1rem;
    line-height:0.24rem;
    margin-bottom: 0.15rem;
    overflow: hidden;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
    text-overflow:ellipsis;
}
.product_price{
    margin-top: 0.15rem;
}
.product_price span:first-of-type {
    color: rgba(207, 21, 24, 1);
    line-height: 0.24rem;
    margin-top: 0.15rem;
    font-size: 0.2rem;
}

.product_price span:last-of-type {
    text-decoration: line-through;
    font-size: 0.16rem;
    color: rgba(153, 153, 153, 1);
    line-height: 0.24rem;
}

.product_price a {
    text-align: center;
    display: inline-block;
    background: rgba(222, 40, 40, 1);
    border-radius: 0.05rem;
    line-height: 0.24rem;
    font-size: 0.2rem;
    color: rgba(255, 255, 255, 1);
    padding:0.1rem 0.15rem;
    text-decoration: none;
}
